- var link = "http://data.baltimoresun.com/jin/blurb-shootings-near-you/"
//- var link = ""

doctype html
//
	How to use this blurb:
	1. Clone this blurb
	2. Find your lat/lon coordinates. You can do this in Google Maps.
	3. Copy the lat/lon coordinates below in the "data-lat" and "data-lon" attributes.
html(data-lat="39.289156", data-lon="-76.593420" class="no-js", lang="en")
	head
		//Basic page needs
		meta(charset="utf-8")
		title How violent is your neighborhood?
		meta(name="description", content="Shootings and homicides in Maryland")
		meta(name="author", content="Jin Bae Kim")
		//Mobile Specific Metas
		meta(name="viewport", content="width=device-width, initial-scale=1, maximum-scale=1")
	body
		.container
			a.linkOut(href="http://data.baltimoresun.com/news/shootings-near-you/" target="_blank") See the full map.
			.mapContainer				
				#homicideMap.cartodbMap
				.mapHUD
					.mapStatsContainer
						.mapStatItem.mapStatItem__numbers
							p.numbersIntro 
								span.withinMile Within one mile:
								br
							.numbersWrapper
								p.shootingsNumberWrap
									span.incidentsNumber 0
									span  shooting
									span.incidentsPlural s
								p.homicidesNumberWrap #[span.homicidesNumber 0] dead
							p.dataRange Data from 2015-current
		//Fonts
		link(rel="stylesheet", type="text/css", href="http://fonts.googleapis.com/css?family=Old+Standard+TT|Lato|Montserrat")
		//CSS
		link(rel="stylesheet" href="#{link}css/cartodb.css")
		link(rel="stylesheet", type="text/css", href="#{link}css/style.css")
		//app
		script(src="#{link}js/min/jquery-1.10.2.min.js")
		script(src="#{link}js/min/cartodb.js")
		script(src="#{link}js/min/Control.OSMGeocoder.js")
		script(src="#{link}js/min/app.min.js")

