- var datalink = "http://data.baltimoresun.com/jin/blurb-bmore-shootings-near-you/"
//- var datalink = ""

doctype html
//if lt IE 7
	<html class="no-js lt-ie9 lt-ie8 lt-ie7">
//if IE 7
	<html class="no-js lt-ie9 lt-ie8">
//if IE 8
	<html class="no-js lt-ie9">

html(data-lat="39.289156", data-lon="-76.593420" class="no-js", lang="en")
	head
		//Basic page needs
		meta(charset="utf-8")
		title How violent is your neighborhood?
		meta(name="description", content="Shootings and homicides in Baltimore")
		meta(name="author", content="Jin Bae Kim")

		//Mobile Specific Metas
		meta(name="viewport", content="width=device-width, initial-scale=1, maximum-scale=1")

		//Facebook Stuff
		meta(property="og:title", content="How violent is your neighborhood?")
		meta(property="og:url", content="#{datalink}")
		meta(property="og:image", content="#{datalink}images/thumb.png")
		meta(property="og:site_name", content="The Baltimore Sun")
		meta(property="og:description", content="Shootings and homicides in Baltimore")
		meta(property="fb:app_id", content="310302989040998")

		//Twitter Stuff
		meta(name="twitter:card", content="summary")
		meta(name="twitter:site", content="@baltimoresun")
		meta(name="twitter:creator", content="@baltsundata")
		meta(name="twitter:title", content="How violent is your neighborhood?")
		meta(name="twitter:description", content="Shootings and homicides in Baltimore")
		meta(name="twitter:image", content="#{datalink}images/thumb.png")
		meta(name="twitter:domain", content="baltimoresun.com")

	body
		.container
			a.linkOut(href="#") See the full map here.
			.mapContainer
				#homicideMap.cartodbMap
				.mapHUD
					.mapStatsContainer
						.mapStatItem.mapStatItem__numbers
							p.numbersIntro Within one mile:
							p.homicidesNumberWrap #[span.homicidesNumber 0] homicides
							p.shootingsNumberWrap #[span.shootingsNumber 0] shootings
					.infoboxContainer
						p Hover over a point for details on the incident
						.infobox.infobox--homicides
						.infobox.infobox--shootings
		//Fonts
		link(rel="stylesheet", type="text/css", href="http://fonts.googleapis.com/css?family=Old+Standard+TT|Lato|Montserrat")
		//CSS
		link(rel="stylesheet" href="#{datalink}css/cartodb.css")
		link(rel="stylesheet" href="#{datalink}css/Control.OSMGeocoder.css")
		link(rel="stylesheet", type="text/css", href="#{datalink}css/style.css")
		//Javascript
		script(src="#{datalink}js/min/jquery-1.10.2.min.js")
		//- script(src="#{datalink}js/min/modernizr.js")
		script(src="#{datalink}js/min/cartodb.js")
		script(src="#{datalink}js/min/Control.OSMGeocoder.js")
		script(src="#{datalink}js/app.js")
		//- script(src="#{datalink}js/min/app.min.js")